.dme .dnd5e.sheet.actor.character {
  min-width: 720px;
  min-height: 750px;
}

.dnd5e.sheet.actor.character ul.skills-list {
  flex: 0 0 212px;
  height: 510px;
}

.dme .dnd5e.sheet.actor.npc {
  min-width: 600px;
  min-height: 750px;
}

.dnd5e.sheet.actor.npc ul.skills-list {
  flex: 0 0 212px;
  height: 510px;
}

/* 5/24/2021 - Moved grim's layout for character sheets here.
Should add "dme" as a dependency for dark-matter-compendium. */

/* fonts */

@font-face {
    font-family: "Bitwise";
    src: url('./fonts/bitwise.ttf');
}

@font-face {
    font-family: "Orbitron";
    src: url('./fonts/orbitron-light.otf');
}

@font-face {
    font-family: "Return Of The Grid";
    src: url('./fonts/Return\ of\ the\ Grid.otf');
}

/* journal entries */
/* headers */

.journal-sheet h1 {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 25px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 600;
    line-height: 27.5px;
    padding-bottom: 5px;
    color: rgb(37, 27, 43);
}

.journal-sheet h2 {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 20px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 15.4px;
    padding-bottom: 10px;
    color: rgb(37, 27, 43);
}

.journal-sheet h3 {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 30px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 400;
    line-height: 15.4px;
    padding-bottom: 10px;
    color: rgb(37, 27, 43);
}

.journal-sheet form h4 {
    font-family: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
    font-size: 19px;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 500;
    line-height: 15.4px;
    padding-bottom: 5px;
    color: rgb(37, 27, 43);
}

.journal-sheet form h5 {
    font-family: "Return Of The Grid";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: auto;
    margin: 0;
    padding-bottom: 5px;
    color: rgb(37, 27, 43);
}

.journal-sheet p {
    font-family: TimesNewRoman;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 5px 0;
}

.journal-sheet blockquote {
    font-family: Georgia;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

.title-box-top {
    background-image: url('./images/title-container-top-600x120.webp');
    width: 600px;
    height: 120px;
    color: white;
    text-shadow: 0 0 3px white;
}

/* set background image */
.journal-sheet form {
    background-color: #fff;
    background-image: url('./images/journal_bg_tile.webp');
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    background: #4e5858;
    border: 1px solid #069897;
}

/* set header underline color and weight */
.journal-sheet form h1,
.journal-sheet form h2 {
    border-bottom: 3px solid;
    border-color: #069897 !important;
}

/* remove image borders */
.journal-sheet img {
    border: 0px;
}

/* set input and button glow color */
.journal-sheet input[type=text],
.journal-sheet select:focus,
.journal-sheet button:hover {
    box-shadow: 0 0 5px #069897;
}

.journal-sheet form.editable a {
    text-shadow: 0 0 8px #069897;
}

.journal-sheet .window-header {
    background-color: #056d6d;
}


/* npc sheet */

.actor.npc form {
    background-image: url('./images/bg_tile_sq.webp');
}

.actor.npc img.profile {
    background-color: rgba(0, 0, 0, 40%);
}

.actor.npc input:hover[type=text],
.actor.npc input:hover[type=number] {
    box-shadow: 0 0 5px #069897;
}

.actor.npc a.item.active {
    border-bottom: 3px solid #069897 !important;
    color: black !important;
}

.actor.npc .item.active,
.actor.npc a:hover,
.actor.npc a:focus,
.actor.npc button:hover,
.actor.npc li:hover h4 {
    text-shadow: 0 0 8px #069897 !important;
}

/* character sheet */
.actor.character form {
    background-image: url('./images/char-sheet-bg-tile-sm.webp');
}

.actor.character form ul.skills-list,
.actor.character form li.attribute.resource {
    background-image: url('./images/bg_tile_sq.webp');
}

.actor.character input:hover[type=text],
.actor.character input:hover[type=number] {
    box-shadow: 0 0 5px #069897;
}

.actor.character a.item.active {
    border-bottom: 3px solid #069897 !important;
    color: black !important;
}

.actor.character .item.active,
.actor.character a:hover,
.actor.character a:focus,
.actor.character button:hover,
.actor.character li:hover h4 {
    text-shadow: 0 0 8px #069897 !important;
}

.actor.character h4.rollable:hover {
    text-shadow: 0 0 8px #069897 !important;
}

.actor.character [data-tab="biography"] textarea {
    background-image: url('./images/bg_tile_sq.webp');
}

.actor.character textarea:focus {
    outline: 2px solid #056d6d;
    box-shadow: 0 0 5px #069897;
}

/* flex / adjustments*/
.subhead:first-letter {
    font-family: "Bitwise";
    font-size: 350%;
    float: left;
    line-height: .6em;
    padding-top: .25em;
    padding-right: 1px;
    padding-bottom: .25em;


}

.txt-img-flo p {
    line-height: 15px;
}

.pad-top {
    padding-top: .75em;
}

.fix-width {
    width: 704px;
    overflow: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    padding: 0 2.25em;
}

.flex-container {
    width: 310px;
}

.marg-top-grow-100 {
    margin-top: 100px;
}

.marg-top-grow-260 {
    margin-top: 260px;
}

.marg-top-grow-10 {
    margin-top: 10px;
}

.mrg-b-20 {
    margin-bottom: 20px;
}

.marg-bottom-shrink-150 {
    margin-bottom: -150px;
}

/* page divider */
.divider {
    width: 100%;
}

/* inset box */
.inset-box {
    background-image: url('./images/bg_tile_sq.webp');
    border: medium double #4e5858;
    border-radius: 1em;
    box-shadow: .25em .25em .5em rgba(0, 0, 0, 10%);
    padding: 10px;
    margin: 0 .25em;
}

.inset-box p {
    line-height: 15px;
}

form .inset-box h4 {
    line-height: 18px;
    padding: 0;
    margin-bottom: 5px;
}
/* end of stuff */
